PlayerHud
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: Poppins;
	font-size: 24px;
	
	> .vitals
	{
		position: absolute;
		top: 32px;
		left: 32px;
		font-size: 64px;
		font-weight: bold;
		text-stroke: 8px black;
		color: white;
		flex-direction: column;

	}

	> .healthbars
	{
		position:absolute;
		bottom: 32px;
		left: 32px;
		flex-direction: column;
		gap: 8px;

		> .healthbar
		{
			width:500px;
			height:64px;
			background-color: rgb(29, 29, 29);
			padding: 8px;
			> .inner
			{
				background-color: black;
				flex-grow: 1;
				> .fill
				{
					height: 100%;
					background-color: red;
				}
				>.p
				{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					color: white;
					font-size: 24px;
					font-weight: bold;
				}
			}

			&.armor
			{
				height: 32px;
				> .inner
				{
					background-color: black;
					flex-grow: 1;
					> .fill
					{
						height: 100%;
						background-color: blue;
					}
				}
			}
		}
	}

	> .hotbar
	{
		position: absolute;
		bottom: 32px;
		width: 100%;
		z-index: 1;
		gap: 8px;
		justify-content: center;
		align-items: flex-end;

		> .slot
		{
			width: 92px;
			height: 92px;
			background-color: rgb(62, 54, 55);
			border-radius: 16px;
			transition: all 0.2s ease;

			&.active
			{
				background-color: rgb(226, 219, 220);
				width: 128px;
				height: 128px;
			}
		}
	}

	> .crosshair 
	{
		position: absolute;
		bottom: 50%;
		left: 50%;
		width: 10px;
		height: 10px;
		background-color: rgba(255, 255, 255, 0.867);
		justify-content: center;
	}
}